@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/shared/AdminLayout.cshtml";
}

@model Clinic.Models.MedicalHistory

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Contacts- Medical Hospital Website Template</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="body">
        <div class="contact">
            <div>
                <div>
                    <div>
                        <h1>{ Report }</h1>
                        <h4>This is just a place holder</h4>
                        <p>
                            This website has been designed by <a href="http://www.DoctorsWebsite.com/">Click</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Click</a>.
                        </p>

                    </div>
                    <div>

                        <div>
                            <div>
                                <h4>About Us</h4>
                                <h3>Mission</h3>
                                <p>
                                    The mission of the Clinic is to serve patients through accessible, high quality health care, research and education. More than 1,200 hospitals, clinics and other sites participate in a variety of Clinic outreach programs. Clinic physicians and staff provide off-site consultation in 52 specialties.
                                </p>
                                <span><a href="/Home/about">Learn More</a></span>
                            </div>
                            <div>
                                <h4>Services</h4>
                                <h3>This is just a place holder</h3>
                                <ul>
                                    <li>
                                        <p>
                                            Lorem ipsum dolor
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Consectetur adipiscing
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            This is just a place holder
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Nullam eu diam eros
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Vestibulum fermentum
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Donec risus nulla
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            This is just a place holder
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Nullam eu diam eros
                                        </p>
                                    </li>
                                </ul>
                                <span><a href="/Home/service">Learn More</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            <div>
                <h4>Contact</h4>
                <p>
                    You can replace all this text with your own text.
                </p>
                <a href="/Home/contacts">Contacts</a>
            </div>
            <div>
                <h4>Links</h4>
                <ul>
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li>
                        <a href="/Home/service">Services</a>
                    </li>
                    <li>
                        <a href="/Home/doctors">Doctors</a>
                    </li>
                    <li>
                        <a href="/Home/contacts">Contact</a>
                    </li>
                    <li>
                        <a href="/Home/Reports">Reports</a>
                    </li>
                </ul>
            </div>
            <div class="connect">
                <h4>Keep In Touch</h4>
                <a href="http://twitter.com" id="twitter">twitter</a> <a href="http://facebook.com" id="facebook">facebook</a> <a href="http://google.com" id="googleplus">google+</a>
            </div>
        </div>
        <p>
            &#169; Copyright 2015. All rights reserved :P
        </p>
    </div>

</body>
</html>
