@{
    ViewBag.Title = "service";
    Layout = "~/Views/shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Services - Medical Hospital Website</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @*<div class="background">
        <div class="page">
            <a href="/Home/index"><h1>Clinical System</h1></a>
            <div class="sidebar">
                <ul>
                    <li class="selected"><a href="/Home/index" class="current">Home</a></li>
                    <li><a href="/Home/about">About Us</a></li>
                    <li><a href="/Home/service">Services</a></li>
                    <li><a href="/Home/doctors">View Doctors</a></li>
                    <li><a href="/Home/contacts">Contacts</a></li>
                    <li><a href="/Home/findus">Find Us</a></li>

                </ul>
                <div class="first">
                    <div>
                        <h3>Incharge</h3>
                        <img src="~/content/themes/base/images/man.jpg" alt="">
                        <p>
                            We are Proud to Provide Quality health care to Patients
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>We are here to Help you</h3>

                        <img src="~/content/themes/base/images/doctors-and-nurse.jpg" alt="">
                        <p>
                            The Clinic had nearly 3.8 million patient encounters for the year ended September 30, 2014, and reported 383,380 unique patients in the Clinic system during this same period.
                        </p>
                    </div>
                </div>
            </div>*@
    <div class="body">
        <div class="services">
            <div>
                <div>
                    <div>
                        <h1>{ Service }</h1>
                        <h4>We Have More Templates for You</h4>
                        <h3>You can replace all this text with your own text.</h3>
                        <ul>
                            <li>
                                <p>
                                    This is just a place holder
                                </p>
                            </li>
                            <li>
                                <p>
                                    This is just a place holder
                                </p>
                            </li>
                            <li>
                                <p>
                                    You can remove any link to our website from this website template
                                </p>
                            </li>
                            <li>
                                <p>
                                    You&#39;re free to use this website template without linking back to us.
                                </p>
                            </li>
                            <li>
                                <p>
                                    You&#39;re free to use this website template without linking back to us.
                                </p>
                            </li>
                            <li>
                                <p>
                                    You can replace all this text with your own text.
                                </p>
                            </li>
                            <li>
                                <p>
                                    This is just a place holder
                                </p>
                            </li>
                            <li>
                                <p>
                                    This is just a place holder.
                                </p>
                            </li>
                        </ul>
                        <p>
                            But if you don’t find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you’re looking for something different, something special. And we love the challenge of doing something different and something special.
                        </p>
                        <p>
                            If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
                        </p>
                    </div>
                    <div>
                        <div>
                            <h4>PATIENT HISTORY</h4>
                            <img src="~/content/themes/base/images/services2.jpg" alt="">
                            <p>
                                This is just a place holder, so you can see what the site would look like. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. This is just a place holder, so you can see what the site would look like. You can replace all this text with your own text. You&#39;re free to use this website template without linking back to us.
                            </p>
                            <span><a href="/Account/SignUp">History....... </a></span>
                        </div>
                        <div>
                            <h4>THIS IS JUST A PLACE HOLDER</h4>
                            <ul>
                                <li>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit convallis tellus, in venenatis turpis
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Mauris eu lacus sit amet justo venenatis ornare vitae in velit. Etiam sodales, nibh non vehicula pharetra
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Etiam orci sapien, cursus quis pharetra eget, facilisis vitae risus. Donec sagittis consequat est pretium.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        In hac habitasse platea dictumst. Sed non elit non nisi blandit rutrum. Suspen disse ligula nisl mollis
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            <div>
                <h4>Contact</h4>
                <p>
                    You can replace all this text with your own text.
                </p>
                <a href="/Home/contacts">Contacts</a>
            </div>
            <div>
                <h4>Links</h4>
                <ul>
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li>
                        <a href="/Home/service">Services</a>
                    </li>
                    <li>
                        <a href="/Home/doctors">Doctors</a>
                    </li>
                    <li>
                        <a href="/Home/contacts">Contact</a>
                    </li>
                    <li>
                        <a href="/Home/Reports">Reports</a>
                    </li>
                </ul>
            </div>
            <div class="connect">
                <h4>Keep In Touch</h4>
                <a href="http://twitter.com" id="twitter">twitter</a> <a href="http://facebook.com" id="facebook">facebook</a> <a href="http://google.com" id="googleplus">google+</a>
            </div>
        </div>
        <p>
            &#169; Copyright 2015. All rights reserved :P
        </p>
    </div>

</body>
</html>