@{
    ViewBag.Title = "about";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>About - Medical Hospital Website </title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/jquery-2.1.4.min.js"></script>
    <script src="~/Content/bootstrap.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @*<div class="background">
        <div class="page">
            <a href="/Home/index"><h1>Clinical System</h1></a>
            <div class="sidebar">
                <ul>
                    <li class="selected"><a href="/Home/index" class="current">Home</a></li>
                    <li><a href="/Home/about">About Us</a></li>
                    <li><a href="/Home/service">Services</a></li>
                    <li><a href="/Home/doctors">View Doctors</a></li>
                    <li><a href="/Home/contacts">Contacts</a></li>
                    <li><a href="/Home/findus">Find Us</a></li>

                </ul>
                <div class="first">
                    <div>
                        <h3>Incharge</h3>
                        <img src="~/content/themes/base/images/man.jpg" alt="">
                        <p>
                            We are Proud to Provide Quality health care to Patients
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>We are here to Help you</h3>

                        <img src="~/content/themes/base/images/doctors-and-nurse.jpg" alt="">
                        <p>
                            The Clinic had nearly 3.8 million patient encounters for the year ended September 30, 2014, and reported 383,380 unique patients in the Clinic system during this same period.
                        </p>
                    </div>
                </div>
            </div>*@
            <div class="body">
                <div class="about">
                    <div>
                        <div>  
                            <div>
                                <h1>{ About Us }</h1>
                                <h3>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​Origins</h3>
                                <p>
                                    The Clinic was incorporated under Wisconsin law in 1916 and operates as a charitable corporation with all of its assets held in a charitable trust. It is one of only a few large independent nonprofit medical clinics in the Pakistan. See the Clinic history for more information.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Physicians and staff</h3>
                                <p>
                                    Physician specialists number more than 700. The Clinic employs more than 6,000 additional support personnel.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Outreach Network</h3>
                                <p>
                                    More than 1,200 hospitals, clinics and other sites participate in a variety of Clinic outreach programs. Clinic physicians and staff provide off-site consultation in 52 specialties.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Dental Services</h3>
                                <p>
                                    The Clinic operates several dental clinics in northern, central and western Wisconsin. The dental clinics saw more than 40,000 unique patients in the period ending Sept. 30, 2014.
                                </p>
                            </div>
                        </div>
                        
                            <div class="section">
                                <div>
                                    <div>
                                        <h4>About Clinic</h4>
                                        <h3>All for the health of our patients</h3>
                                        <p>
                                            From General Medicine to our Specialized Outpatient Clinic and Examination Center, all medical disciplines are connected and work together to provide comprehensive healthcare services to each and every patient. With hospitality as our motto, every doctor and member of our staff will work to support your healthy lifestyle. 
                                        </p>
                                        <span><a href="/Home/service">Services...</a></span>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>
                    <div>
                        <h4>Contact</h4>
                        <p>
                             You can replace all this text with your own text.
                        </p>
                        <a href="/Home/contacts">Contacts</a>
                    </div>
                    <div>
                        <h4>Links</h4>
                        <ul>
                            <li>
                                <a href="/Home/index">Home</a>
                            </li>
                            <li>
                                <a href="/Home/about">About</a>
                            </li>
                            <li>
                                <a href="/Home/service">Services</a>
                            </li>
                            <li>
                                <a href="/Home/doctors">Doctors</a>
                            </li>
                            <li>
                                <a href="/Home/contacts">Contact</a>
                            </li>
                            <li>
                                <a href="/Home/Reports">Reports</a>
                            </li>
                        </ul>
                    </div>
                    <div class="connect">
                        <h4>Keep In Touch</h4>
                        <a href="http://twitter.com" id="twitter">twitter</a> <a href="http://facebook.com" id="facebook">facebook</a> <a href="http://google.com" id="googleplus">google+</a>
                    </div>
                </div>
                <p>
                    &#169; Copyright 2015. All rights reserved :P
                </p>
            </div>
    
</body>
</html>