@{
    ViewBag.Title = "Index";
}




<html>
<head>
    
    
    <title>Index - Medical Hospital Website</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" >
     <script src="~/Content/bootstrap.js"></script>
    <script src="~/Content/jquery-2.1.4.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
</head>

<body>
       
    <div>
        <div>
            @*<div class="background">
            <div class="page">
                <a href="/Home/index"><h1>Clinical System</h1></a>
               <div class="sidebar">

                   <ul>
                       <li class="selected"><a href="/Home/index" class="current">Home</a></li>
                       <li><a href="/Home/about">About Us</a></li>
                       <li><a href="/Home/service">Services</a></li>
                       <li><a href="/Home/doctors">View Doctors</a></li>
                       <li><a href="/Home/contacts">Contacts</a></li>
                       <li><a href="/Home/findus">Find Us</a></li>

                   </ul>

                   <div class="first">
                       <div>
                           <h3>Incharge</h3>
                           <img src="~/content/themes/base/images/man.jpg" alt="">
                           <p>
                               We are Proud to Provide Quality health care to Patients
                           </p>
                       </div>
                   </div>
                   <div>
                       <div>
                           <h3>We are here to Help you</h3>

                           <img src="~/content/themes/base/images/doctors-and-nurse.jpg" alt="">
                           <p>
                               The Clinic had nearly 3.8 million patient encounters for the year ended September 30, 2014, and reported 383,380 unique patients in the Clinic system during this same period.
                           </p>
                       </div>
                   </div>
               </div>*@

            @*<div class="sidebar">
                <ul>

                    <li><a href="/Home/SignOut">SignOut</a></li>

                </ul>
            </div>*@
            <div class="body">
                <div class="home">
                    <div class="featured">
                        <img src="~/content/themes/base/images/doctors.jpg" alt="">
                        <div>
                            <p>
                                Welcome to our Clinic. Development of new medical practices for a changing generation.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                <h4>About Us</h4>
                                <h3>Mission</h3>
                                <p>
                                    The mission of the Clinic is to serve patients through accessible, high quality health care, research and education. <a href="programs.html"><img src="~/content/themes/base/images/programs.jpg" alt=""></a> More than 1,200 hospitals, clinics and other sites participate in a variety of Clinic outreach programs. Clinic physicians and staff provide off-site consultation in 52 specialties.
                                </p>
                                <span><a href="/Home/about">Learn More</a></span>
                            </div>
                            <div>
                                <h4>Our Doctors</h4>
                                

                                <ul>

                                    <li>Reviewed and elected by their peers.</li>
                                    <li>Clinically and academically accomplished.</li>
                                    <li>Leading medical practitioners, researchers and teachers.</li>
                                    <li>Affiliated with national and global centers of excellence.</li>
                                    <li>Members of a prestigious, peer-reviewed group that includes the top 5% of PAK physicians</li>
                                </ul>
                                <span><a href="/Home/doctors">VIEW MORE..</a></span>
                            </div>
                        </div>
                        <div>
                            <h4>Services</h4>
                            <a href="/Home/service"><img src="~/content/themes/base/images/services.jpg" alt=""></a>
                            <ul>
                                <li>
                                    <a href="/Home/service">InterConsultation</a>
                                </li>
                                <li>
                                    <a href="/Home/service">Ask the Experts</a>
                                </li>
                                <li>
                                    <a href="/Home/doctors">"Find Doctors"</a>
                                </li>

                            </ul>
                            <span><a href="/Home/service">Learn More</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>
                    <div>
                        <h4>Contact</h4>
                        <p>
                            You can replace all this text with your own text.
                        </p>
                        <a href="/Home/contacts">Contacts</a>
                    </div>
                    <div>
                        <h4>Links</h4>
                        <ul>
                            <li>
                                <a href="/Home/index">Home</a>
                            </li>
                            <li>
                                <a href="/Home/about">About</a>
                            </li>
                            <li>
                                <a href="/Home/service">Services</a>
                            </li>
                            <li>
                                <a href="/Home/doctors">Doctors</a>
                            </li>
                            <li>
                                <a href="/Home/contacts">Contact</a>
                            </li>
                            <li>
                                <a href="/Home/Reports">Reports</a>
                            </li>
                        </ul>
                    </div>
                    <div class="connect">
                        <h4>Keep In Touch</h4>
                        <a href="http://twitter.com" id="twitter">twitter</a> <a href="http://facebook.com" id="facebook">facebook</a> <a href="http://google.com" id="googleplus">google+</a>
                    </div>
                </div>
                <p>
                    &#169; Copyright 2015. All rights reserved :P
                </p>
            </div>
        </div>
    </div>

</body>
</html>
