@{
    ViewBag.Title = "Search";
}


@model System.Collections.Generic.List<Clinic.Models.Doctor>

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Search- Medical Hospital Website Template</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.min.js"></script>
    <link href="~/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/datatables/dataTables.bootstrap.min.js"></script>
    <link href="~/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/jquery-2.1.4.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="body">
        <div class="contact">
            <div>
                <div>
                    <div>
                        <h1>{ Search }</h1>
                        <h4>Find a Doctor </h4>
                        <p>
                            There's more to choosing a doctor than insurance plans and office hours. Let us show you how to find the right doctor for you
                            @*This website has been designed by <a href="http://www.DoctorsWebsite.com/">Click</a> for you, for free. You can replace all this text with your own text.
                             You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us.
                             If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Click</a>.*@
                        </p>
                    </div>
               </div>          
        </div>
    </div>
        
            <form  role="search" action="/Home/Search"  method="post" >
                <br/>
                <div class="row">
                    <div class="col-lg-10">
                        
                            <input type="text" class="form-control" placeholder="Search" name="srch" id="srch" />
                       
                    </div> 
                    <div class="col-lg-2"><button type="submit" class="btn btn-danger">Search</button></div>
                </div>
                    
            </form>
        <br />
        <br />
        <table id="example2" class="table table-bordered table-hover">

            <thead style="background-color:aliceblue">
              
            </thead>


            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        
                        <td>
                            @Model[i].Name
                        </td>
                        <td>
                            @Model[i].Specialty
                        </td>
                          <td>
                            @Model[i].Info
                        </td>

                    </tr>
                }


        </table>

            

</div>
    <div class="footer">
        <div>
            <div>
                <h4>Contact</h4>
                <p>
                    You can replace all this text with your own text.
                </p>
                <a href="/Home/contacts">Contacts</a>
            </div>
            <div>
                <h4>Links</h4>
                <ul>
                    <li>
                        <a href="/Home/index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/about">About</a>
                    </li>
                    <li>
                        <a href="/Home/service">Services</a>
                    </li>
                    <li>
                        <a href="/Home/doctors">Doctors</a>
                    </li>
                    <li>
                        <a href="/Home/contacts">Contact</a>
                    </li>
                    <li>
                        <a href="/Home/Reports">Reports</a>
                    </li>
                </ul>
            </div>
            <div class="connect">
                <h4>Keep In Touch</h4>
                <a href="http://twitter.com" id="twitter">twitter</a> <a href="http://facebook.com" id="facebook">facebook</a> <a href="http://google.com" id="googleplus">google+</a>
            </div>
        </div>
        <p>
            &#169; Copyright 2015. All rights reserved :P
        </p>
    </div>

</body>
</html>
